*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
}

/*SEÇÃO HOME*/
.home {
    display: flex;
    align-items: center;    
    background-color: #303030;
    color: #FFFFFF;
    height: 430px;
}

.informacao-home {
    margin-left: 62px;    
}

.informacao-home h1 {
    font-size: 55px;
    font-weight: 600;
    margin-top: 30px;
}

.informacao-home p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}


/*SEÇÃO HOME SECUNDÁRIA*/

.home-secundario {
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #F9F9F9;
    color: #000000;
    height: 213px;    
}

.numero {
    font-size: 40px;
}

.paragrafo {
    font-size: 20px;
}


/*SEÇÃO INFORMATIVO*/

.informativo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    justify-content: center;
    align-items: center;
    gap: 64px;
    color: #000000;
}

.texto-informativo h1 {
    font-size: 38px;
    font-weight: 500;
}

.texto-informativo p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 40px;
}

.img-informativo img {
    width: 410px;
    margin: 82px 0px 82px 0px;
}


/*SEÇÃO FORMULÁRIO*/
.formulario {
    text-align: center;
    background-color: #303030;
}

.titulo-formulario {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 67px 0px 38px 0px;
}
    
input {
    border: none;
    padding: 18px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    width: 450px;
    border-radius: 10px;
    margin-bottom: 45px;
}

button {
    border: none;
    padding: 16px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: #C07212;
    color: #FFFFFF;
    width: 210px;
    border-radius: 10px;
    margin-bottom: 65px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-7px);
    box-shadow: 0px 15px 15px #6d3d03d0;
    background-color: #cf7e1b;
}

